body{
    margin: 0;
    overflow-x: hidden;
}
/* HEARDER */
header{
    z-index: 2;
}
.logobg{
    z-index: 999;
    background-color: #fffff2;
    position: absolute;
    width: 100%;
    height: 100%;
}
.logobg-leave-active {
    transition: all 2s
}
.logobg-leave-to{
    transform: translateY(-108%);
    z-index: 999;
}
.logo-leave-active {
    transition: all 1s;
}
.logo-leave-to{
    transform: translateY(-100%)
}
.posts-enter-active{
    transition: all 2s;
  }
.posts-enter{
    transform: translateY(30%);
    opacity: 0;
}
.routerright-enter-active,.routerright-leave-active,.routerleft-enter-active,.routerleft-leave-active{
    transition: all 1s;
}
.routerright-enter{
    transform: translateX(100%);
    opacity: 0;
}
.routerright-leave-to{
    transform: translateX(-100%);
    opacity: 0;
}
.routerleft-enter{
    transform: translateX(-100%);
    opacity: 0;
}
.routerleft-leave-to{
    transform: translateX(100%);
    opacity: 0;
}
.logobar-enter-active{
    transition: all 2s;
  }
.logobar-enter{
    transform: translateY(-100%);
    opacity: 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

.logo .sublogo {
    width: 170px;
    height: 40px;
}
.logo .sublogo p{
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    margin: 0;
    color: #ebae87;
    animation: fade 2s 2.5s backwards;
}

.logo .tianx5{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 900px;
    margin-top: 30px;
}
.logo .tianx5 h1 {
    position: absolute;
    width: 950px;
    margin: 0;
    left: 15px;
    text-align: center;
    font-size: 110px;
    letter-spacing:77px;
    color: #c88f6a;
    animation: fade 2s 2s backwards;
}
.logo .tianx5 .tian {
    width: 150px;
}
.logo .tianx5 .tian polyline {
    fill: none;
    stroke: #ebc2a9;
}
.logo .tianx5 .tian line {
    fill: none;
    stroke: #ebc2a9;
    stroke-dasharray: 5;
}
.logo .tianx5 .tian1 polyline{
    animation: tian 2s backwards;
}
.logo .tianx5 .tian2 polyline{
    animation: tian 2s .2s backwards;
}
.logo .tianx5 .tian3 polyline{
    animation: tian 2s .4s backwards;
}
.logo .tianx5 .tian4 polyline{
    animation: tian 2s .6s backwards;
}
.logo .tianx5 .tian5 polyline{
    animation: tian 2s .8s backwards;
}

.logo .tianx5 .tian1 line{
    animation: fade 2s .8s backwards;
}
.logo .tianx5 .tian2 line{
    animation: fade 2s 1s backwards;
}
.logo .tianx5 .tian3 line{
    animation: fade 2s 1.2s backwards;
}
.logo .tianx5 .tian4 line{
    animation: fade 2s 1.4s backwards;
}
.logo .tianx5 .tian5 line{
    animation: fade 2s 1.6s backwards;
}
@keyframes tian {
    0% {
        stroke-dasharray: 0, 284;
    }
    100% {
        stroke-dasharray: 284, 284;
    }
}
@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.logo nav{
    margin-top: 100px;
    animation: fade 2s 2.6s backwards;
}
.logo nav a{
    cursor: pointer;
    text-decoration: none;
    color: #c88f6a;
}
.logo nav span{
    display: inline-block;
    margin: 0 10px;
    color: #ebc2a9;
}

.mousedown{
    cursor: pointer;
    width: 35px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform:translateX(-50%);
    animation: fade 2s 2.7s backwards;
}
.mousedown span{
    display: block;
    position: relative;
    top: -10px;
    width: 35px;
    text-align: center;
    font-size: 25px;
    color: #ebc2a9;
}

.boxes {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    pointer-events: none;
}
.box {
    flex-grow: 1;
    height: 0%;
}
.boxh {
    height: 100%;
}
.box1 {
    transition: all 5s;
    background-color: #ebe2dd;
}
.box2 {
    transition: all 4s .2s;
    background-color: #e0c7b8;
}
.box3 {
    transition: all 3s .4s;
    background-color: #ddb8a0;
}
.box4 {
    transition: all 2s .6s;
    background-color: #d6a88b;
}
.box5 {
    transition: all 1s .8s;
    background-color: #c88f6a;
}
.boxhalf {
    transition: all .3s;
    height: 10px;
}

.logobar{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 998;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
}
.logobar .loading{
    display: block;
    text-align: center;
    width: 100%;
    line-height: 50px;
    color: #a0adb7;
    position: absolute;
}
.logobar .barcontent {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 1000px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.logobar .barcontent a{
    text-decoration: none;
    line-height: 50px;
    color: #a0adb7;
}
.logobar .barcontent span{
    line-height: 50px;
    margin: 0 10px;
    color: #bfc7ce;
}
.loading-enter-active,.loading-leave-active{
    transition: all 1s;
}
.loading-enter{
    transform: translateY(100%);
    opacity: 0;
}
.loading-leave-to{
    transform: translateY(-100%);
    opacity: 0;
}
.extramenu {
    position: fixed;
    left: 63%;
    z-index: 998;
    width: 400px;
}
.extramenu div {
    display: inline-block;
    padding-top: 50px;
    opacity: 0;
    transition: .5s;
}
.extramenu div:hover {
    opacity: 1;
}
.extramenu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 175px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: white; 
}
.extramenu ul li {
    list-style: none;
    text-align: center;
    transition: all .5s;
}
.extramenu ul li:hover {
    background-color: #e8edf1;
}
.extramenu ul li a{
    text-decoration: none;
    line-height: 50px;
    color: #a0adb7;
}
/* MAIN */
main{
    margin-top: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(120deg, #fdfbfb 50%, #ebedee 100%);
}
.maintitle {
    height: 150px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.posts{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.tags{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}
.date{
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}
.list{
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}
.detail{
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
}
.write{
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
}
.admin{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.maintitleh1{
    width: 1000px;
    height: 150px;
    margin: 0 auto;
}
.maintitleh1 h1{
    display: inline-block;
    font-size: 50px;
    color: white;
    margin: 0;
    line-height: 150px;
}
.maintitleh1 .detailh1{
    position: absolute;
}
.maintitleh1 span::before{
    content: "";
    display: inline-block;
    height: 50px;
    width: 2px;
    background-color: white;
    position: relative;
    top: 3px;
    margin-right: 10px;
}
.maintitleh1 span {
    margin-left: 10px;
    position: relative;
    top: 5px;
    color: white;
}
/* POSTS */
.maincontent{
    position: relative;
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}
article{
    position: relative;
    margin: 60px 0;
    padding: 50px 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
.titleline {
    width: 750px;
    height: 100px;
    margin: 0 auto;
}
.titleline h2{
    display: inline;
    position: relative;
    top: -35px;
    color: #495a6f;
    font-size: 25px;
    line-height: 80px;
    left: 10px;
    margin: 0 ;
}
.titleline::before{
    content:"";
    position: relative;
    display: inline-block;
    background-color: #7cacd4;
    border-radius: 5px;
    height: 80px;
    width: 10px;
}
.titleline .column{
    position: relative;
    top: -55px;
    left: 20px;
}
.titleline .column span {
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: #4f7da1;
}
.titleline .column span:first-child {
    height: 20px;
    width: 50px;
    color: white;
    background-color: #6993b5;
    border-radius: 5px;
}
.titleline span,.titleline ul{
    height: 20px;
    margin: 0;
    display: inline-block;
}
.titleline ul li{
    display: inline-block;
    font-size: 14px;
}
.titleline span{
    font-size: 14px;
}
.content{
    width: 710px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #f9f9f9;
    /*background-image: linear-gradient(to bottom, #fdfbfb 70%, #f8f9fa 100%);*/
    border-radius: 5px;
}
/* COMTENT */
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
    color: #4e698a;
}
.content h1 {
    font-size: 22px;
    color: #7a91ac;
}
.content h2 {
    font-size: 20px;
    color: #7a91ac;
    padding-top: 20px;
}
.content h2::before,.content h3::before {
    content: "#";
    display: inline-block;
    margin-right: 5px;
    color: #e990a7;
}
.content a {
    color: #e990a7;
}
.content hr {
    margin: 50px 0;
    background-color: #abb4bc;
    border: none;
    height: 4px;
    border-radius: 2px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.content p {
    color: #5d7a9f;
    font-size: 17px;
    line-height: 35px;
    margin: 0;
    padding: 10px 20px;
}
.content table {
    display: block;
    width: 95%;
    margin: 20px auto;
    background-color: #fff9fb;
    color: #667580;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.content thead,.content tbody{
    display: block;
    width: 100%;
}
.content thead {
    background-color: #ffedf3;
    color: #4c5f6d;
    height: 40px;
    line-height: 40px;
}
.content tr {
    display: flex;
    height: 35px;
    line-height: 35px;
    justify-content: space-between;
    width: 100%;
}
.content tr:nth-child(even){
    background-color: #fdfdfd;
}
.showmore{
    width: 750px;
    margin: 0 auto;
    margin-top: 20px;
}
.showmore span {
    display: block;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    color: #a5c1da;
}
.showmore .showmoreb{
    cursor: pointer;
    margin-right: 20px;
}

.flicker {
    width: 800px;
    height: 40px;
}
.flicker a {
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    border-radius: 20px; 
    color: white;
    background-color: #9198a5;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.flickbefore {
    float: left;
}
.flicknext {
    float: right;
}
/* TAGS */
.tagscontent {
    padding: 50px;
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
}
.tagscontent ul{
    padding: 50px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
.tagscontent ul li {
    list-style: none;
    margin: 10px 0;
}
.tagscontent ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #4282af;
}
.tagscontent ul li span {
    margin-left: 20px;
    color: #7a7a7a;
}
/* DATE */
.datecontent {
    padding: 50px;
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
}
.datecontent section{
    padding: 50px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
.datecontent section li{
    list-style: none;
    margin: 10px 0;
}
.datecontent section a{
    text-decoration: none;
    font-size: 20px;
    color: #b7b4b4;
}
.datecontent section .yeara {
    font-size: 25px;
    color: gray;
}
.datecontent section span {
    margin-left: 20px;
    color: #7a7a7a;
}
/* LIST */
.listcontent {
    padding: 50px;
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
}
.listcontent section {
    padding: 50px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
.listcontent section h1 {
    font-size: 30px;
    color: #9478af;
}
.listcontent section h2 {
    font-size: 25px;
    color: #9478af;
}
.listcontent section li {
    list-style: none;
    margin: 20px 0;
}
.listcontent section a {
    font-size: 20px;
    text-decoration: none;
    color: #9b91cc;
}
.listcontent section span {
    margin-left: 20px;
    color: #7a7a7a;
}
.listcontent section p{
    color: #9b91cc;
}
/* DETAIL */
.detailcontent {
    width: 800px;
    margin: 10px auto;
    border-radius: 0;
}
/* WRITE */
.upload {
    width: 800px;
    margin: 20px auto;
    padding: 50px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
.upload h3 {
    color: #517d97;
    font-size: 20px;
    margin-top: 30px;
}
.upload .button1 {
    cursor: pointer;
    height: 30px;
    margin-left: 5px;
    color: white;
    background-color: #94a7c4;
    border: none;
    box-shadow: 0 0px 4px rgba(0,0,0,0.157), 0 0px 4px rgba(0,0,0,0.227);
}
.upload .savebutton {
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-top: 50px;
    color: white;
    background-color: #6fd093;
    border: none;
    box-shadow: 0 0px 4px rgba(0,0,0,0.157), 0 0px 4px rgba(0,0,0,0.227);
}
.upload .linkspan {
    color: #a3bdcc;
}
.titleinput,.dateinput,.taginput,.briefinput,.linkinput {
    border: none;
    padding: 0 10px;
    box-shadow: 0 0px 4px rgba(0,0,0,0.157), 0 0px 4px rgba(0,0,0,0.227);
}
.titleinput {
    height: 35px;
    min-width: 300px;
    max-width: 700px;
    font-size: 15px;
}
.dateinput {
    height: 30px;
    width: 200px;
}
.taginput {
    height: 30px;
    width: 150px;
}
.briefinput {
    padding-top: 10px;
    min-height: 100px;
    width: 780px;
    max-width: 780px;
}
.linkinput {
    height: 20px;
}
.upload .v-note-wrapper {
    z-index: 997;
    height: 500px;
}
/* ADMIN */
.admincontent {
    width: 800px;
    margin: 50px auto;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
    min-height: 500px;
}
.admincontent h2 {
    color: #426988;
}
.admincontent ul {
    padding: 0 30px;
}
.admincontent ul li {
    list-style: none;
    margin: 40px 0;
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
}
.admincontent ul li h3 {
    color: #426988;
    font-size: 20px;
    line-height: 40px;
    left: 10px;
    margin: 0 ;
}
.admincontent ul li span {
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: #4f7da1;
}
.admincontent ul li .tag {
    display: inline-block;
    height: 20px;
    width: 50px;
    color: white;
    background-color: #6993b5;
    border-radius: 5px;
}
.admincontent ul li a {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
    height: 25px;
    width: 55px;
    color: white;
    background-color: #e35e5e;
    border-radius: 5px;
}
.admincontent ul li a:first-child{
    background-color: #6993b5;
}
.admincontent ul li div {
    float: right;
}

/* FOOTER */
footer {
    position: relative;
}
footer .footersd {
    width: 100%;
    height: 1px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
footer .footerbg {
    width: 100%;
    height: 240px;
    background-color: #e5e5e5;
}
footer .footerct {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 1000px;
    margin: 0 auto;
}
footer .howie {
    width: 500px;
    margin: 20px 0;
    float: left;
}
footer .howie svg{
    width: 150px;
    padding-top: 10px;
}
footer .howie .hh{
    fill: none;
    stroke: #a0adb7;
    stroke-width: 7px;
}
footer .howie span {
    position: relative;
    top: -8px;
    font-size: 25px;
    color: #a0adb7;
}
footer .howie p,footer .howie a{
    font-size: 15px;
    color: #a0adb7;
}
footer .links {
    position: absolute;
    bottom: 30px;
    right: 0;
}
footer .links ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
footer .links ul li a {
    font-size: 15px;
    color: #a0adb7;
}
.totop {
    cursor: pointer;
    width: 40px;
    position: fixed;
    bottom: 200px;
    right: 270px;
}
.totop svg {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

/* LOGIN */
.login {
    pointer-events: none;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 200px;
    width: 350px;
    height: 200px;
}
.loginbox {
    pointer-events: auto;
    display: block;
    width: 250px;
    height: 170px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.loginbox .logintitle {
    position: relative;
    display: block;
    height: 40px;
    background-color: #a0adb7;
}
.loginbox .logintitle p {
    margin:  0;
    line-height: 40px;
    color: white;
    text-align: center;
}
.loginbox .logintitle span{
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
}
.loginbox .logintitle span:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.loginbox input {
    display: block;
    border: none;
    padding: 0 10px;
    width: 250px;
    height: 30px;
    margin: 10px auto;
    box-shadow: 0 0px 4px rgba(0,0,0,0.157), 0 0px 4px rgba(0,0,0,0.227);
}
.loginbox button {
    cursor: pointer;
    height: 40px;
    width: 250px;
    border: none;
    color: white;
    background-color: #c4d6e5;
}
.logtip {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 70px;
    display: block;
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    animation: logtip .5s ease-out 2s forwards;
}
@keyframes logtip {
    to{
        opacity: 0;
        transform: translateY(-100%);
    }
}
.logtip p {
    display: block;
    margin: 0;
    color: #77bc8d;
    text-align: center;
    line-height: 50px;
}
.login-enter-active,.login-leave-active{
    transition: all .5s;
  }
.login-leave-to{
    transform: translateY(-100%);
    opacity: 0;
}
.login-enter{
    transform: translateY(100%);
    opacity: 0;
}